<style>
    body{
        padding-top: 8vh;
    }
    html{
        scroll-padding-top: 8vh;
    }
    section{
        margin: 6.25em 0;
        width: 100%;
    }
    #works::before{
        content: "How It Works---";
        position: fixed;
        top: 0;
        color: transparent;
        background-color: #0044AA;
        height: .2em;
        width: max-content;
    }
    #llop{
        position: absolute;
        width: 30em;
        z-index: -1;
        opacity: .5;
    }
    #jjio{
        bottom: .2em;
        position: relative;
        display: block;
    }
    #wwww{
        width: 100%;
        height: 20em;
    }
    #llopi{
        height: 18.75em;
    }
</style>
<h1 class="header alignLeftRel strong marginTopP">How It Works</h1>
<section class="Pcenter_cont" style="flex-direction: column;">
    <h1 class="subheader strong">1. The Audit</h1>
    <img src="art/audit.svg" width="50%" style="margin-top: 3em;">
    <p class="textCent redHatTextRegular norm40 marginTopP" style="width: 70%;text-align: justify;">Refund Advocates LLC audits government agencies nationwide to locate money owed to
        private individuals, Families and companies. <b>The government makes no attempt</b>
        (nor are they obligated) to notify citizens that they are owed money from any kind of
        abandonment, other than publishing the list in a newspaper or sending a letter to
        whatever old address the Agency has on file.<br><br>
        
        The types of funds these falls under are NOT on government lists that they publish; they
        are hidden deep in government records and 99% of all citizens do not even know that
        they exist.<br><br>
        
        If these funds go unclaimed for too long, they are usually lost to the government agency
        that is holding them.</p>
</section>
<section class="Pcenter_cont" style="flex-direction: column;margin-top: 0;">
    <div class="Pcenter_cont"id="wwww">
        <h1 class="subheader strong" id="jjio">2. The Search</h1>
        <img src="art/search.svg" id="llop">
    </div>
    <p class="textCent redHatTextRegular norm40 marginTopP" style="width: 70%;text-align: justify;">Once we've located the funds, <b>great efforts</b> are expended to then locate the rightful
        owner(s). Our team goes to work with our attorneys, researchers and notaries to work
        with the agency holding your unclaimed money.<br><br>
        
        Remember, if these funds go unclaimed for too long, they are usually lost to the
        government agency holding them.</p>
</section>
<section class="Pcenter_cont" style="flex-direction: column;">
    <h1 class="subheader strong">3. Paperwork and Payment</h1>
    <img src="art/paper.svg" id="llopi" style="margin-top: 2em;">
    <p class="textCent redHatTextRegular norm40 marginTopP" style="width: 70%;text-align: justify;">Once you have spoken to one of our Refund Specialists and verbally agreed to let us
        work your claim, we will set up a time for you to sign several pages of paperwork to
        allow us to get started.<br><br>
        
        Our firm works on a <b>contingent basis</b> - this means that there are no up-front or out
        of-pocket expenses to you, EVER. We're paid ONLY upon successful collection of your
        claim. We do ALL the work, pay ALL the expenses, and jump through ALL the
        administrative hoops to claim your money and if the claim is un-successful you owe us
        nothing. We take all the risk in exchange for an agreed upon percentage of the collected
        funds - <b>a fair trade!</b><br><br>
        
        We will send a local notary public with your paperwork package, once notarized we start
        processing claims immediately and follow through until the end, making sure to keep
        you updated all along the way.</p>
</section>
<div style="visibility: hidden;">-</div>