<style>
    body{
        padding-top: 8vh;
    }
    html{
        scroll-padding-top: 8vh;
    }
    section{
        margin: 6.25em 0;
        width: 100%;
    }
    #company::before{
        content: "Our Company---";
        position: fixed;
        top: 0;
        color: transparent;
        background-color: #0044AA;
        height: .2em;
        width: max-content;
    }
    @media screen and ( min-width: 279px) and (max-width: 281px){
        footer{
            bottom: 0;
        }
    }
</style>
<h1 class="header alignLeftRel strong marginTopP">Our Company</h1>
<section class="marginTopP" style="margin-bottom: 5em;">
    <div class="Pcenter_cont">
        <img src="art/ourcompany.svg" class="radius boxShadow" style="margin-top: 1.5em;" width="90%">
    </div>
    <div class="marginCent" style="margin-top: 4em;width: 90%; height: max-content;">
    <p class="redHatTextRegular norm40">Refund Advocate LLC is located in Wyoming, we are a <b>group of experts</b> at auditing
    government records across the country, locating monies owed to private individuals and
    companies, and fighting on those individuals' behalf. If you have received a call or a
    letter from us, it is because we've found funds being held by the government that may
    rightfully be owed to you.
            
    We know the "ins and outs" of government agencies in all states. If a government agency
    is holding your funds, we know how to get them! After a certain period of time, the
    funds are forfeited to the government.
            
    The agencies holding the assets often have many specific requirements that must be
    followed for proving your entitlement to the claim and submitting your request, so it's
    always best to have professionals on your side.</p>
    </div>
</section>
<div class="line"></div>
<section>
    <h1 class="header strong alignLeftRel"> Our mission</h1>
    <p class="redHatTextRegular norm40 alignLeftRel marginTopP" style="width: 90%;">If a claim for your funds isn't made in time, the funds often are forfeited to the agency
holding them. Meaning, they cannot be claimed. It's your money, and the government
shouldn't be able to take it from you. Our mission is to ensure that this doesn't happen.
We audit government files and documents for these unclaimed funds, and when we find
them, we make it our responsibility to reunite them with the individuals & families they
are rightfully owed to.</p>
</section>
<section>
    <h1 class="header strong alignLeftRel"> Our Vision</h1>
    <p class="redHatTextRegular norm40 alignLeftRel marginTopP" style="width: 90%;">To help Individuals, Families and Businesses claim funds that have been lost to them
        For so many an unexpected payday can make a big difference. We want to make sure the
        government doesn't end up with it!</p>
</section>
<div style="visibility: hidden;">-</div>